<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h1 {
      margin-top: 30px;
      color: #333;
    }

    p {
      color: #555;
      line-height: 1.6;
      margin-bottom: 10px;
    }

    .container {
      margin-top: 50px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      max-width: 600px;
      margin: 0 auto;
    }

    .btn {
      margin-top: 20px;
      padding: 15px 30px;
      background-color: #543006ef;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 1.2em;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #a28461ef;
    }

    ol {
      text-align: left;
    }

    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 1em;
      }
      .btn {
        font-size: 1em;
      }
    }
  </style>
</head>
<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <div class="container">
    <h3>Welcome to Wisher!</h3>
    <p>Dear <%= `${user.first_name} ${user.last_name}!` %>,</p>
    <p>Welcome back to Wisher, your personal assistant for sending heartfelt wishes to your loved ones. With Wisher, you can:</p>

    <ol>
      <li>Schedule personalized messages for birthdays, anniversaries, and other special occasions.</li>
      <li>Receive daily inspirational quotes to brighten your day.</li>
      <li>Manage your scheduled wishes easily.</li>
      <li>Stay connected with your friends and family by sharing your love and warm wishes.</li>
    </ol>
    <p>Thank you for choosing Wisher to make your celebrations more meaningful. Start exploring and spreading joy today!</p><br>
    <p><strong>Wisher Team</strong></p><br><br>

    <a href="/views/create-mine" id="create-mine" class="btn">Create Mine</a>
    <a href="/views/create-other" id="create-others" class="btn">Create Others</a>
  </div>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>


</body>
</html>