<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-top: 50px;
      background-color: #f9f9f9;
    }

    .intro {
      max-width: 600px;
      padding: 20px;
      margin-top: -200px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px;
      border: 2px solid #543006ef;
      border-radius: 5px;
      text-decoration: none;
      color: #543006ef;
      font-weight: bold;
      transition: all 0.3s;
    }

    .btn:hover {
      background-color: #a28461ef;
      color: #fff;
    }

    @media screen and (max-width: 768px) {
      .intro {
        max-width: 90%;
      }
    }
  </style>
</head>
<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <div class="container">
    <div class="intro">
      <h2>Welcome to Wisher!</h2>
      <p>Wisher is your personal assistant for sending heartfelt wishes to your loved ones on special occasions. Whether it's birthdays, anniversaries, or any other milestone, Wisher helps you stay connected and make your loved ones feel cherished.</p>
      <p>With Wisher, you can schedule personalized messages in advance, ensuring that you never miss an important date. Our app also provides inspirational quotes to add a special touch to your wishes.</p>
      <p>Start spreading joy and love with Wisher today!</p>
      <p><strong>Wisher Team</strong></p>
      
      <a class="btn" href="/views/login">Login</a>
      <a class="btn" href="/views/signup">Sign Up</a>
      
    </div>
  </div>
  
  <footer>
    <%- include('./partials/footer'); %>
  </footer>


</body>
</html>
